<!doctype html>
<html class="donations_main">
<head>
    <% include inner_head %>
</head>

<body style="width: 100%">
    <% include navbar %>
    <div id="container">
    <div class="news-top-img">
        <img src="/img/medical/medical-top-img.png"; alt="Education" style="max-width:400px;max-height:400px;">
    </div> <!-- End class news-top-img -->
    <!-- Intro to Medical Section -->
    <div class="about">
        <h2 class="picpage">Medical Resources</h2>
            <p class="picpara"> Children with developmental disabilities have multiple obstacles to overcome and appropriate medical care is only a beginning. Our center at the Uzima Clinic, YWAM-Mwandege, Tanzania provides access to specialty medical care, health support and surgical referral to children with developmental disabilities. Our new Diagnostic Center for Children, completed In 2012, also houses the central office for Wezesha Kupaa.</p>
    </div> <!-- End class about -->

    <div class="news_header">Medical News</div>

    <!-- Page Content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    <!-- Render each blog post -->
                    <% posts.forEach((post) => { %>
                        <a href="/post/<%= post.id %>" class="list-group-item">
                             <!-- Title -->
                            <h4 class="list-group-item-heading"><%= post.title %></h4>
                            <!-- Author -->
                            <p class="list-group-item-author">by <%= post.author %></p>
                            <!-- Body -->
                            <p class="list-group-item-text"><%= post.body %></p>
                            <!-- Date/Time -->
                            <p id="time"><span class="glyphicon glyphicon-time"></span> <%= post.timestamp %></p>
                        </a>
                  <% }) %>
                </div> <!-- End class list-group -->
            </div> <!-- End class col-lg-12 -->
        </div> <!-- End class row -->
    </div> <!-- End class container -->
    <% include footer %>
</body>
</html>

    
