<!DOCTYPE html>
<html>
<head>
<% include inner_head %>
</head>

<body>

    <% include navbar %>

    <div class="post">
		<h1 id="about_head"><%= title %></h1>
		<p>by <%= author %></p>
		<p><span class="glyphicon glyphicon-time"></span> <%= timestamp %></p>
		</br>
		<p><%= body %></p>
		</br>
    </div>

    <a <% if (logged_in === 1) { %> class="post-button" href="/edit/<%= post_id %>"> Edit this post! <% } %> </a>

<script>

</script>
    <% include footer %>
</body>
</html>
